.form__input-container {
  width: 100%;
  border: none;
  padding: 0;
  margin: 0 0 30px;
}

.form__input-container:last-of-type {
 margin: 0 0 48px;
}

@media screen and (max-width: 416px) {
  .form__input-container {
    margin: 0 0 20px;
  }
  
  .form__input-container:last-of-type {
   margin: 0 0 42px;
  }
}